<div class = "container">
  <div class="card">
    <div class="card-body">
      <div>
        <h3>{{job.title}}</h3>
        <p>{{job.companyName}}</p>
      </div>
      <div>
        <p>
          <b>Experience</b>{{job.experience}} years</p>
        <p>
          <b>Designation </b>{{job.designation}}</p>
        <p>
          <b>Salary </b>{{job.ctc}}</p>
        <p>
          <b>Location </b>{{job.location}}</p>
        <p>
          <b>Skills </b>{{job.skills}}</p>
        <p>
          <b>Job description</b>{{job.description}}</p>
      </div>
    </div>
  </div>
</div>