<div>
  <h1>Add a job</h1>
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-lg-2" for="exampleInputEmail1">Email address</label>
      <div class="col-lg-4"><input type="text" class="form-control" id="exampleInputEmail1" placeholder="Email"></div>
    </div>

    <div class="form-group">
        <label class="col-lg-2" for="jobTitle">Title</label>
        <div class="col-lg-4"><input type="text" class="form-control" id="jobTitle" placeholder="Job title"></div>
    </div>

    <div class="form-group">
        <label class="col-lg-2" for="jobDesignation">Designation</label>
        <div class="col-lg-4"><input type="text" class="form-control" id="jobDesignation" placeholder="Job Designation"></div>
    </div>

    <div class="form-group">
        <label class="col-lg-2" for="primarySkill">Primary Skills</label>
        <div class="col-lg-4"><input type="text" class="form-control" id="primarySkill" placeholder="primary Skill"></div>
    </div>

    <div class="form-group">
        <label class="col-lg-2" for="skills">Additional skills</label>
        <div class="col-lg-4"><input type="text" class="form-control" id="skills" placeholder="skills"></div>
    </div>
    <div class="form-group">
        <label class="col-lg-2" for="comName">Company name</label>
        <div class="col-lg-4"><input type="text" class="form-control" id="comName" placeholder="name of the company"></div>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>