<style>
	.pf-card{
		background-color: #70a1e5;
	}
	.pf-header-card{
		background-color: #7c70e5;
	}
</style>
<div>
	<!-- Example row of columns -->
	<div class="row">

		<div class="col-lg-4" *ngFor="let job of jobs">
			<div class="card">
				<div class="card-body">
					<div class="card pf-header-card col-lg-12">
						<h3>{{job.title}}</h3>
						<p>{{job.companyName}}</p>
						<p>{{job.experience}} years</p>
					</div>
					<div class="card pf-card col-lg-12">
						<p>
							<b>Designation </b>{{job.designation}}</p>
						<p>
							<b>Salary </b>{{job.ctc}}</p>
						<p>
							<b>Location </b>{{job.location}}</p>
						<p>
							<b>Skills </b>{{job.skills}}</p>
						<p>
							<b>Job description</b>{{job.description}}</p>
						<p>
							<a class="btn btn-secondary" href="https://getbootstrap.com/docs/4.1/examples/jumbotron/#" role="button">View details »</a>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>


	<!-- <div class="col-lg-3">
		<div class="panel panel-default col-lg-12">
			<h4>Appendix</h4>
			<span class='label label-success'>Verified</span> Job listing has been verified by the admin
			<br>
			<br>
			<span class='label label-warning'>Not verified</span>Job listing is not yet verified by the admin
		</div>
		<div class="dropdown">
			filters
		</div>
	</div> -->
</div>