<div>
	<div>
		<h1>
			Welcome to {{ title }}!
		</h1>
	</div>

	<div class="col-lg-3">
		<div class="panel panel-default col-lg-12">
			<h4>Appendix</h4>
			<span class='label label-success'>Verified</span> Job listing has been verified by the admin
			<br>
			<br>
			<span class='label label-warning'>Not verified</span>Job listing is not yet verified by the admin
		</div>
		<div class="dropdown">
			filters
		</div>

	</div>
	<div class="col-lg-9">
		<div class="panel panel-success" *ngFor="let job of jobs">
			<div class="panel-heading">
				<h2 class="panel-title">
					<b>{{job.title}} | {{job.companyName}}| {{job.experience}} years</b>
					<span class='label' [ngClass]="{'label-success': job.verified, 'label-warning': !job.verified}">
						<span *ngIf='job.verified'>Verified</span>
						<span *ngIf='!job.verified'>Not verified</span>
					</span>
				</h2>
			</div>
			<div class="panel-body">
				<div class="col-lg-6">
					<div class="panel-body">
						<ul class="list-group">
							<li class="list-group-item">
								<b>Designation </b>{{job.designation}}</li>
							<li class="list-group-item">
								<b>Salary </b>{{job.ctc}}</li>
							<li class="list-group-item">
								<b>Location </b>{{job.location}}</li>
							<li class="list-group-item">
								<b>Skills </b>{{job.skills}}</li>
						</ul>
					</div>
				</div>
				<div class="col-lg-6">
					<h4>Job description</h4>
					{{job.description}}
				</div>
			</div>
		</div>
	</div>
</div>